
h3{
    padding: 0;
    margin: 0;
}
.featured-news{
    padding: 56px 0;
}
.container-padding-12px{
    padding: 0 16px;
}
.container-head-row{
    display: flex;
    /* padding: 16px; */
}
.container-head-column{
    padding: 0 4px;
}
.container-head-layout{
    display: flex;
    flex-direction: column;
    column-gap: 8px;
}
.container-cards-margin{
    margin-left: -4px;
    margin-top: 32px;
}
.container-cards-grid{
    margin: 0 4px;
    display: grid;
    grid-gap: 8px;
}
.container-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(230,242,251);
    border-radius: 16px;
    box-shadow: 0px 2px 5px 1px rgb(208, 213, 216);
    background-color:rgb(254, 254, 254) ;

}
.containerr-image-featured{
 padding: 0 8px;   
 padding-top: 8px;

}
.feautured-img-flex{
  display: flex;

   max-width: 100%; 
}
.feautured-img-flex img{
    object-fit: cover;
    height: inherit;
    border-radius: 8px;
    max-width: 100%;
}
.container-content{
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.container-content-flex{
    display: flex;
    flex-direction: column;
    row-gap: 12px;

}
.container-content-head h3{
    letter-spacing: -0.54px;
    font-size: 18px;
    color:rgb(14,23,38);
    font-family: font3;
}
.container-paragraph{
    letter-spacing: -0.48px;
    line-height: 24px;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.button-link-flex{
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
    column-gap: 8px;
    height: 35px;
    align-items: center;

}
.button-link-flex span{
    color: rgb(0,68,117);
    font-size: 14px;
    letter-spacing: -0.48;
    padding-top: 2px;
    font-family: font3;
}
.container-button{
    display:flex;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 12px;
    background-color: rgb(0, 120, 212);
    /* height: 35px; */

}
.container-button span{
    display: flex;
    align-items: center;
}
.container-button ::before{
    content: '';
        border: solid #fff;
        border-width: 0 .5px .5px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(320deg);
}
.main-head{
    font-size: 24px;
}
.solutions.container-cards-margin{
    margin-top: 24px;
}
.scroll{
 display: flex;
overflow: scroll;
scrollbar-width: none;
}
.scroll-button{
   color: rgb(0, 66, 117);
    border-radius:100px;
    background-color: rgba(0, 85, 151, 0.1);
    margin-right: 8px;
    padding:8px 16px;
    white-space-collapse: collapse;
}
.scroll-button{
    text-wrap: nowrap;
    white-space-collapse: collapse;
    font-size: 15px;
    font-family: font3;
}
 .scroll #selected{
    color: #fff;
    background-color: rgb(0,85,151);
}
.solutions-scroll-list{
    padding: 0 4px;
    margin-top: 24px;
}
.sol-scroll-ul{
    display: flex;
    flex-direction: column;

}
hr{
    display: none;
}
.sol-scroll-ul-head{
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.sol-scroll-ul-head{ 
    font-family: font3;
    font-size: 18px;
}
.sol-scroll-ul-head ::after{
    content: '';
    right: 15;
    top: 50%;
    transform: translateY(-50%);
    border: solid rgb(0,66,117);
    border-width: 0 .5px .5px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(225deg);
    justify-self: flex-end;
}
.sol-scroll-body{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;
    
}
.link-text{
    margin-bottom: 24px;
    text-decoration: underline;
}
.link-text span{
    color: rgb(0,66,117);
    font-size: 14px;
    letter-spacing: -0.48px;
    font-family: font3;
}
.container-image-play-btn{
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container-image-sol img{
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
}
.container-play-button-sol{
    padding: 12px;
    position: absolute;
    background-color: rgb(0,120,212);
    border: 2px solid transparent;
    border-radius: 8px;  
}
.container-play-button-sol ::before{
    content: '';
    right: 15;
    /* left: 110%; */
    top: 50%;
    transform: translateY(-50%);
    border: solid rgb(0,66,117);
    border-width: 0 .5px .5px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
}
.list-padding-sol .sol-scroll-ul-head{
    border-top:1px solid rgb(14,23,38) ;
    padding:24px 0;

}
.solutions-scroll-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.solutions-scroll-list .button-link-flex{
    margin: 0;
}
.products-and-services{
    padding: 56px 0;
}
.pr-ser-body{
    padding: 0 4px;
}
.pr-ser-body-padding{
    margin-top: 32px;
}
.pr-ser-body-flex{
    display: flex;
    flex-direction: column;
    margin:0 -4px;
    gap: 12px;
}
.image-container{
    padding: 0 4px;
  
    max-width: 100%;
}
.image-container-grid{
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 4px;
    background-image: linear-gradient(rgba(4, 13, 18, 0) 0%, rgba(4, 13, 18, 0.8) );
    border-radius:16px ;
    position: relative;
}
.image-area{
grid-area: 1/1;
z-index: 1;
aspect-ratio: 21/9;
max-height: 100%;
max-width: 100%;

}

.image-area img{
    object-fit: cover;
    border-radius:16px ;
    height: 100%;
    width: 100%;
    aspect-ratio: 21/9;
    grid-area: 1/1;

}
.image-container-content{
    position: absolute;
    z-index: 1;  
    padding: 16px;                                                                                    
}
.image-container-contenx-flex{
    display: flex;
    flex-direction: column;
    gap: 12px;
   
}
.image-container-contenx-head h3{
    font-size: 24px;
    letter-spacing: -1.2px;
    font-family: font2;

}
.image-container-content-paragraph{
    font-size: 16px;
    letter-spacing: -0.48px;
    margin: 0;
}
.image-container-content-button{
    color: rgb(23,37,61);
    display: flex;
    align-items: center;
    border-radius: 8px;
    border-bottom: 2px solid transparent;
    padding: 12px;
background-color: rgb(179,218,240);
}
.image-container-content-button span{
    padding-bottom: 2px;
    font-size: 15px;
    text-align: center;
    font-family: font3;
}
.cards{
    padding:0 4px;

}
.cards-grid{
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr;
}
.card{
    box-shadow: 0px 2px 5px 1px rgb(208, 213, 216);
    border: 1px solid rgb(230,242,251);
    border-radius: 16px;
}
.card-padding{
    padding: 16px;
}
.card-flex{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.card-image{
    border: 1px solid rgb(230,242,251);
    border-radius: 8px;
    display: flex;
   max-width: 48px;
   height: 48px;
align-items: center;
justify-content: center;

}
.card-image img{
    object-fit: fill;
    max-height: 24px;
    max-width: 24px;
}
.card-cotent-flex{
   display: flex;
   flex-direction: column;
   gap: 12px; 
}
.card-content-head{
    font-family: font3;
    font-size: 16px;
}
.gartner{
    padding: 48px 0;
}
.gartner-flex{
    display: flex;
    flex-direction: column;
    padding: 0 4px;
    border: 1px solid rgb(230,242,251);
    border-radius: 16px;
    box-shadow: 0px 2px 5px 1px rgb(208, 213, 216);
    background-color:rgb(254, 254, 254) ;

}
.gartner-image-container{
    padding: 12px;
    padding-bottom: 0;
    padding-top: 8px;
}
.gartner-image-container img{
    border-radius: 8px;
    object-fit: cover;
    max-width: 100%;
}
.gartner-content{
    display: flex;
    padding: 16px;
   
    flex-direction: column;
   row-gap: 32px;
    justify-content: space-around;
}
.gartner-content-flex{
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* justify-content: center;
    align-items: center; */
}
.gartner-content-head{
    letter-spacing: -1.2px;
    line-height: 32px;
    font-size: 24px;
    font-family: font2;
}
.container-body-flex{
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.gartner-button{
    display: flex;
    align-items: center;
    width: 119.594px;
    border-radius: 8px;
    border: 2px solid transparent;
    color: #fff;
    padding: 12px;
    background-color: rgb(0,120,212);
}
.gartner-button span{
    font-size: 15px;
    letter-spacing: -0.3px;
    padding-bottom: 2px;
font-family: font3;
}
#visible-860px-li{
    display:none;
}
@media (min-width:550px){
    .container-padding-12px{
        padding: 0 64px;
    }
}
@media (min-width:860px){
    .container-cards-grid{
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container-padding-12px{
        padding: 0 54px;
    }
  .section-container .main-head{
    font-size: 24px;
    letter-spacing: -1.2px;

  }
  .featured-news{
    padding: 96px 0;
}

.solutions .container-head-column{
   flex-basis: calc(50% - 8px);
}
.solutions .main-head-empty-div{
display: flex;
}
.container-cards-col{
    padding: 0 8px;
}
.solutions .scroll-button{
    padding: 8px 24px;
}
#visible-860px-li{
    display:block;
}
#hidden-860-li{
    display: none;
}
.scroll-flex{
    display:flex;
    flex-direction: row-reverse;
}
.sol-scroll-ul{
    flex: 1;
}
.image-container{
    flex: 2;

}
.container-image-play-btn{
    display: flex;
    align-items: center;
    justify-content: end;
    position: static;

}
.sol-image-last-flex{
   display: flex;
   align-items: center;
   justify-content: center; 
   width: 80%;
}
.container-image-sol img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 16px;
   
}
.container-play-button-sol{
    position: absolute;
    padding: 14px;
    background-color: #0078d4;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-play-button-sol img{
    width: 20px;
    height: 20px;
}

/* .solutions .scroll-flex{
    height: 100vh !important;
    max-height: 492px;
} */
/* .solutions.scroll-flex>div:first-child {
    display: flex;
    width: 100%;
}
.solutions .sol-scroll-ul{
    overflow-y: auto;

}
.solutions .sol-scroll-u li{
    display: flex;

}
.container-image-sol img{
   border-radius: 24px;
   object-fit: fill;

} */
/* .sol-scroll-ul{
    display: flex;
    flex-direction: row;
} */
 .cards-grid{
    grid-template-columns: 1fr 1fr 1fr;
 }


}



























































     
